*{ padding: 0;
    margin: 0;
    box-sizing: content-box;
         
 }
 
 body{
     
     background: linear-gradient(black, 30%, rgb(161, 15, 149), 60%,black);
     color:white;
     width: 1024px;
     height: 1024px;
 
 
 }
 #logocircular{
     position:absolute;
     top: 20px;
     left: 40px;
     width: 150px;
    }
.titulo {
        left: 450px;
        font-family: 'cheque';
        position: absolute;
        display:inline-block;
        font-size: 50px;
        text-align: center;
        
    }
h2{
        font-family: 'Berlin Sans FB';
        font-size: 30px;
        
    
    }
    
    
div{
        position: relative;
        top: 15px;
    }
    
.menu{
        cursor:pointer;
        position: relative;
        text-align: center;
        top: 185px;
        display:inline-block;
        background-color: black;
        height: 50px;
        width: 1224PX;
        opacity: 90%;
        
    
     }
     
.contactos{    
        padding: 30px;
        color: rgb(236, 107, 226);
        text-align: center;
        font-family: 'Berlin Sans FB';
        font-size: 20px ;
        text-decoration: none;
    }
    
.opciones{
        padding: 30px; 
        color: white;
        font-family: 'Berlin Sans FB';
        font-size: 20px ;
        text-decoration: none;
    }
    
#imagenbrillo{
        position: absolute;
        top:50px;
        left: 100px;
        height: 1000px;
        width:1000px;
    }
    
 #imageninicio{
     position: absolute;
     top: 250px;
     left: 193px;
     width: 500px;
     height: auto;
 
 }
 
 .menucontactos{
    
    position: absolute;
    background-color:black;
    width: 1224px;
    height: 350px;
    top: 800px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    opacity: 90%;

}
#lm{
    opacity: 0;
}

.info {
    
    position: relative;
   
    font-family: 'Berlin Sans FB';
    color:white;
    font-size: 25px;
    list-style-type: none;
    padding: 30px;
    width: 200px;
    
    
}
a,ul,.wsp{
    font-family: 'Berlin Sans FB';
    color:white;
    text-decoration: none;
    list-style-type: none;
}


.logo1,.logo2,.logo3,.logo4 {
    width: 22px;
    height: 22px;

}

.qr{
    position: relative;
    width: 150px;
    height: 150px;
    left: 30px;
}
.wsp{
    position: relative;
    font-size: 25px;
    
}
.ubicacion{    
    width: 300px;
    height: 200px;
  
}
.ub{
    position: relative;
    font-family: 'Berlin Sans FB';
    color:white;
    font-size: 20px;
    text-align: center;
    width: 300px;
     
}
.wsp,.ub,.info{
    padding: 50px;
   
  
}
.resaltar{
    color: rgb(231, 111, 225);
    text-decoration: underline;
}

 form {
    margin: 0 auto;
    width: 400px;
    height: 300px;
    padding: 1em;
    border: 1px solid #ececec;
    background-color: rgb(66, 7, 56);
    border-radius: 2em;
    position: absolute;
    top: 300px;
    left: 250px;
  }
  ul {
    list-style: none;
    
  }

  label {
    font: 1em 'Berlin Sans FB';
    display: inline-block;
    width: 90px;
    text-align: left;
  }
#consulta{
    width: 300px;
    height: 200px;
}
  input,
textarea {
    font: 1em 'Berlin Sans FB';
    width: 300px;
    box-sizing: border-box;
    border-radius: 1em solid #999;
}

input:focus,
textarea:focus {
    border-color: #ea00ffb7;
    overflow: scroll;
    
    
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
    padding-left: 90px; 
    text-align: center;
    color: white;
    
}

button {
    margin-left: 0.5em;
}
button:hover{
    padding: 15px;
    background-color: rgb(194, 5, 184);
    color:white;
    
}