*{ padding: 0;
    margin: 0;
    box-sizing: content-box;
    align-content: center;
          
 }
 
 body{
     
     background: linear-gradient(black, 30%, rgb(161, 15, 149), 70%,black);
     color:white;
     width: 1024px;
     height: 2200px;
 
 
 }
 #logocircular{
     position:absolute;
     top: 20px;
     left: 80px;
     width: 150px;
    }
    .titulo{
        left: 450px;
        font-family: 'cheque';
        position: absolute;
        display:inline-block;
        font-size: 50px;
        text-align: center;
     
     }
    
     h2{
        font-family: 'Berlin Sans FB';
        font-size: 30px;
    }
    
     .menu{
        cursor:pointer;
        position: relative;
        text-align: center;
        top: 185px;
        display:inline-block;
        background-color: black;
        height: 50px;
        width: 1224PX;
        opacity: 90%;
     }
    
    
     div{
        position: relative;
        top: 15px;
    }
    
    .nosotras{    
        padding: 30px;
        color: rgb(236, 107, 226);
        text-align: center;
        font-family: 'Berlin Sans FB';
        font-size: 20px ;
        text-decoration: none;
    }
    
    .opciones{
        padding: 30px; 
        color: white;
        font-family: 'Berlin Sans FB';
        font-size: 20px ;
        text-decoration: none;
    }
     #imagenbrillo{
        position: absolute;
        top:50px;
        left: 100px;
        height: 1000px;
        width:1000px;
     }

.imagen{
    position: absolute;
    top:300px;
    left: 30px;
    height: 400px;
    border-radius: 30px; 
    }
.conejo{
    position: absolute;
    height: 200px;
    top:600px;
    left: 550px;
}
.estrellas{
    position: absolute;
    left: 600px;
    width: 600px;
    top: 250px;
}
 .base{
    
     position: relative;
     top: 200px;
     left: 600px;
     width: 600px;
     height: 510px;
     opacity: 90%;
     background-color: black;
     
     
 
 }
 .texto{ 
    
    padding: 80px;
    text-align: center;
    font-family: 'Berlin Sans FB';
    color:rgb(255, 0, 221);
    font-size: 20px;
    overflow: hidden;
  
    
}
.menucontactos{
    
    position: absolute;
    background-color:black;
    width: 1224px;
    height: 300px;
    top: 800px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    opacity: 90%;

}


.info {
    
    position: relative;
   
    font-family: 'Berlin Sans FB';
    color:white;
    font-size: 25px;
    list-style-type: none;
    padding: 30px;
    width: 200px;
    
    
}
a,ul,.wsp{
    font-family: 'Berlin Sans FB';
    color:white;
    text-decoration: none;
    list-style-type: none;
}


.logo1,.logo2,.logo3,.logo4 {
    width: 22px;
    height: 22px;

}

.qr{
    position: relative;
    width: 150px;
    height: 150px;
    left: 30px;
}
.wsp{
    position: relative;
    font-size: 25px;
    
}
.ubicacion{    
    width: 300px;
    height: 200px;
  
}
.ub{
    position: relative;
    font-family: 'Berlin Sans FB';
    color:white;
    font-size: 20px;
    text-align: center;
    width: 300px;
     
}
.wsp,.ub,.info{
    padding: 50px;
   
  
}
.resaltar{
    color: rgb(231, 111, 225);
    text-decoration: underline;
}