<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACTOS</title>
    <link rel="stylesheet" href="../css/contactos.css">
</head>
<body>
    <section>
        <img id="logocircular" src="../imagenes/logo_circular_lumi.png">
        <img id="imagenbrillo" src="../imagenes/brillo.png">
        <h1>LUMI</h1>
        <p class="titulo">Servicio de glitter bar</p>   
    </section>

    <section>
      <div class="menu"> </div>
          <a id="inicio" href="../index.html">INICIO</a>        
          <a id="eventos" href="./eventos.html">EVENTOS</a>        
          <a id="nosotras" href="./nosotras.html">NOSOTRAS</a>        
          <a id="contactos" href="./contactos.html">CONTACTOS</a>
            
      </section>
    
    <form action="" method="post">
        
       
            
          
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="user_name" /><br>
          
          
            <label for="whatsapp">Whatsapp:</label>
            <input type="text" id="whatsapp" name="user_wsp" /><br>
          
        
            <label for="consulta">Consulta:</label>
            <textarea id="consulta" name="user_message"></textarea><br>
         
          
            <button  type="submit">Envíe su mensaje</button>
         
       
      
        
    </form>







    
    <section>
        <div class="menucontactos"> </div>
        <p>Contactos</p>
            <ul id="info">
                <li>@lumi_glitterbar</li>
                <li>11-6627-3574 Lu</li>
                <li>11-3236-4283 Mica</li>
                <li>lumiglitterbar@gmail.com</li>
            </ul>
        <div>
            <ul id="logoscontactos">
                <li><img class="logo1" src="../imagenes/instagram.png" alt="sin visualización"></li>
                <li><img class="logo2" src="../imagenes/wsp.png" alt="sin visualización"></li>
                <li><img class="logo3" src="../imagenes/wsp.png" alt="sin visualización"></li>
                <li><img class="logo4" src="../imagenes/mail.png" alt="sin visualización"></li>
            </ul>
        </div>

        <div>
            <img class="ubicacion" src="../imagenes/ubicacion.png" alt="sin visualización">
            <p id="ub">Zona norte - Malvinas Argentinas <br>Grand Bourg

            </p>
        </div>
        </section>    
    
    

 <script src="../js/app.js"></script> 
</body>
</html>